In [1]:
import os
import numpy as np
import pandas as pd
import fix_yahoo_finance
import yfinance as yf
import time

from datetime import datetime, timedelta

import pandas_datareader.data as web

/home/diego/anaconda3/envs/desafio-quantamental/lib/python3.8/site-packages/fix_yahoo_finance/__init__.py:0: DeprecationWarning:

*** `fix_yahoo_finance` was renamed to `yfinance`. ***
Please install and use `yfinance` directly using `pip install yfinance -U`

More information: https://github.com/ranaroussi/yfinance

# 2019

In [2]:

# EJHD53RD3NC1QNCV

tickers = [
        'ABEV3.SA', 'B3SA3.SA', 'BBAS3.SA', 'BBDC3.SA', 'BBDC4.SA', 'BBSE3.SA', 'BEEF3.SA', 'BPAC11.SA', 'BRAP4.SA', 'TAEE11.SA',
        'BRKM5.SA', 'BRML3.SA', 'BTOW3.SA', 'CCRO3.SA', 'CIEL3.SA', 'CMIG4.SA', 'COGN3.SA', 'CPFE3.SA', 'CSNA3.SA', 'CVCB3.SA',
        'CYRE3.SA', 'ECOR3.SA', 'ELET3.SA', 'ELET6.SA', 'EMBR3.SA', 'ENBR3.SA', 'ENGI11.SA', 'EQTL3.SA', 'FLRY3.SA', 'GGBR4.SA', 'SUZB3.SA',
        'GOAU4.SA', 'GOLL4.SA', 'HGTX3.SA', 'HYPE3.SA', 'IGTA3.SA', 'IRBR3.SA', 'ITSA4.SA', 'ITUB4.SA', 'JBSS3.SA', 'KLBN11.SA', 'LAME4.SA',
        'LREN3.SA', 'MGLU3.SA', 'MRFG3.SA', 'MRVE3.SA', 'MULT3.SA', 'PCAR3.SA', 'PETR3.SA', 'PETR4.SA', 'QUAL3.SA', 'RADL3.SA', 'RAIL3.SA',
        'RENT3.SA', 'SANB11.SA', 'SBSP3.SA', 'SULA11.SA', 'AZUL4.SA', 'NTCO3.SA', 'HAPV3.SA', 'GNDI3.SA', 'BRDT3.SA', 'CRFB3.SA'
    ]

missing_tickers = ['AZUL4.SA', 'NTCO3.SA', 'HAPV3.SA', 'GNDI3.SA', 'BRDT3.SA', 'CRFB3.SA']


start = datetime(2009, 12, 1)
end = datetime(2019, 12, 31)

In [11]:
df1 = web.get_data_yahoo(tickers, start=start, end=end)['Adj Close']

In [12]:
for column in df1.columns:
    print(column, df1[column].isna().sum())

ABEV3.SA 8
B3SA3.SA 362
BBAS3.SA 14
BBDC3.SA 0
BBDC4.SA 0
BBSE3.SA 841
BEEF3.SA 7
BPAC11.SA 1791
BRAP4.SA 14
TAEE11.SA 630
BRKM5.SA 14
BRML3.SA 12
BTOW3.SA 13
CCRO3.SA 13
CIEL3.SA 13
CMIG4.SA 0
COGN3.SA 565
CPFE3.SA 13
CSNA3.SA 14
CVCB3.SA 996
CYRE3.SA 13
ECOR3.SA 86
ELET3.SA 13
ELET6.SA 72
EMBR3.SA 13
ENBR3.SA 8
ENGI11.SA 86
EQTL3.SA 9
FLRY3.SA 22
GGBR4.SA 51
SUZB3.SA 436
GOAU4.SA 18
GOLL4.SA 18
HGTX3.SA 12
HYPE3.SA 16
IGTA3.SA 9
IRBR3.SA 1897
ITSA4.SA 12
ITUB4.SA 14
JBSS3.SA 14
KLBN11.SA 1025
LAME4.SA 15
LREN3.SA 630
MGLU3.SA 350
MRFG3.SA 14
MRVE3.SA 13
MULT3.SA 6
PCAR3.SA 435
PETR3.SA 11
PETR4.SA 39
QUAL3.SA 389
RADL3.SA 0
RAIL3.SA 1320
RENT3.SA 7
SANB11.SA 13
SBSP3.SA 6
SULA11.SA 5

In [13]:
df1 = df1.resample('BM').last()

In [14]:
df1.index = df1.index.to_period('M')

In [3]:
# dfs = [df1]
dfs = []
for i, ticker in enumerate(tickers):
    df_aux = web.DataReader(ticker, 'av-monthly-adjusted',start=start, end=end, api_key='EJHD53RD3NC1QNCV')

    df_aux = pd.DataFrame({ticker:df_aux['adjusted close']})

    df_aux.index = pd.to_datetime(df_aux.index, format='%Y-%m-%d')

    df_aux.index = df_aux.index.to_period('M')
    dfs.append(df_aux)

    if i % 5 == 0:
        time.sleep(61)

In [4]:
df = pd.concat(dfs, axis = 1)

In [5]:
for column in df.columns:
    print(column, df[column].isna().sum())

ABEV3.SA 42
B3SA3.SA 0
BBAS3.SA 0
BBDC3.SA 0
BBDC4.SA 0
BBSE3.SA 41
BEEF3.SA 0
BPAC11.SA 87
BRAP4.SA 0
TAEE11.SA 0
BRKM5.SA 0
BRML3.SA 0
BTOW3.SA 0
CCRO3.SA 0
CIEL3.SA 0
CMIG4.SA 0
COGN3.SA 31
CPFE3.SA 0
CSNA3.SA 0
CVCB3.SA 49
CYRE3.SA 0
ECOR3.SA 5
ELET3.SA 0
ELET6.SA 0
EMBR3.SA 0
ENBR3.SA 0
ENGI11.SA 1
EQTL3.SA 0
FLRY3.SA 1
GGBR4.SA 0
SUZB3.SA 96
GOAU4.SA 0
GOLL4.SA 0
HGTX3.SA 0
HYPE3.SA 0
IGTA3.SA 0
IRBR3.SA 92
ITSA4.SA 0
ITUB4.SA 0
JBSS3.SA 0
KLBN11.SA 50
LAME4.SA 0
LREN3.SA 0
MGLU3.SA 18
MRFG3.SA 0
MRVE3.SA 0
MULT3.SA 0
PCAR3.SA 98
PETR3.SA 0
PETR4.SA 0
QUAL3.SA 19
RADL3.SA 0
RAIL3.SA 0
RENT3.SA 0
SANB11.SA 0
SBSP3.SA 0
SULA11.SA 0
AZUL4.SA 89
NTCO3.SA 0
HAPV3.SA 101
GNDI3.SA 101
BRDT3.SA 97
CRFB3.SA 92

In [7]:
df.to_csv('precos20102019.csv')

In [11]:
df = pd.read_csv('precos20102019.csv', index_col=0)

In [12]:
df.head()

,ABEV3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BEEF3.SA,BPAC11.SA,BRAP4.SA,TAEE11.SA,...,RENT3.SA,SANB11.SA,SBSP3.SA,SULA11.SA,AZUL4.SA,NTCO3.SA,HAPV3.SA,GNDI3.SA,BRDT3.SA,CRFB3.SA
2009-12,NaN,8.6334,33.3920,6.7374,8.5526,NaN,5.5240,NaN,26.2382,2.8537,...,3.7252,12.6524,6.5509,6.0723,NaN,36.2952,NaN,NaN,NaN,NaN
2010-01,NaN,8.9717,31.5930,6.3578,8.1054,NaN,6.5282,NaN,26.4356,2.8719,...,3.8064,11.9215,6.0537,5.7231,NaN,33.9262,NaN,NaN,NaN,NaN
2010-02,NaN,8.3444,33.7339,6.3356,8.0689,NaN,6.2534,NaN,26.8511,2.8840,...,3.7991,11.3233,5.8605,5.5475,NaN,33.2865,NaN,NaN,NaN,NaN
2010-03,NaN,8.4854,33.9411,6.5005,8.4997,NaN,7.2010,NaN,29.9289,2.9297,...,3.6254,11.6917,6.1941,6.6977,NaN,36.0853,NaN,NaN,NaN,NaN
2010-04,NaN,8.1047,34.1002,6.4232,8.2470,NaN,7.0684,NaN,27.2870,2.9485,...,3.7692,10.6866,6.4774,6.9327,NaN,36.8850,NaN,NaN,NaN,NaN

In [68]:
df.pct_change().dropna()

,TIET3.SA,BTOW3.SA,BBDC3.SA,BBAS3.SA,BRKM3.SA,CCRO3.SA,CMIG3.SA,CIEL3.SA,CPLE3.SA,DTEX3.SA,...,KLBN3.SA,LIGT3.SA,LAME3.SA,LREN3.SA,MRVE3.SA,SANB3.SA,VIVT3.SA,TIMP3.SA,WEGE3.SA,NTCO3.SA
2019-01,0.166664,0.189911,0.189888,0.115509,0.136014,0.328572,0.079176,0.343082,0.109396,0.034658,...,0.366743,0.208485,0.046590,0.073111,0.213592,0.144651,0.007508,0.060112,0.074116,0.054000
2019-02,-0.008403,-0.033000,-0.042594,-0.013319,0.042747,-0.043683,0.032678,-0.068154,-0.016334,-0.035948,...,-0.071047,-0.004514,-0.041531,-0.048789,-0.094000,-0.070161,0.036779,-0.046774,-0.018019,0.020029
2019-03,-0.046609,-0.126784,-0.017235,-0.023116,-0.016138,-0.174982,-0.002990,-0.121957,-0.012915,-0.070339,...,-0.159785,0.035264,-0.118668,0.014203,0.029433,-0.048569,0.029450,-0.002538,-0.020306,-0.061803
2019-04,-0.022240,-0.094031,-0.016686,0.019705,-0.028680,-0.004259,0.058085,-0.190727,0.197706,-0.093892,...,-0.032051,0.040643,-0.031765,0.084094,0.037169,0.022637,-0.021045,-0.008482,0.032222,0.150916
2019-05,0.080595,-0.179084,0.053757,0.052549,-0.164578,0.172253,0.045362,-0.127604,0.210291,0.060362,...,-0.113400,-0.106182,0.007806,0.033361,0.185389,0.039893,0.033263,-0.059025,0.025296,0.148161
2019-06,0.052175,0.042038,0.024993,0.043683,-0.125000,0.021690,0.039997,0.033976,0.016703,0.121442,...,0.032663,0.023231,0.021712,0.072646,0.189098,-0.008621,-0.011927,0.057273,0.121260,-0.058186
2019-07,0.206608,0.159535,-0.065136,-0.087504,-0.004571,0.094436,-0.090810,0.077381,0.029230,0.063452,...,0.009732,-0.001548,0.061453,0.006361,0.036280,-0.049330,0.078816,0.050731,0.121690,0.082847
2019-08,-0.055685,0.253320,-0.025541,-0.051608,-0.150402,0.086957,0.032904,0.070442,0.167910,0.054097,...,-0.155889,0.046512,0.030023,0.065108,-0.028600,0.011494,0.021556,0.019124,-0.055416,0.078634
2019-09,-0.040293,0.028723,0.031899,-0.011421,0.136824,0.061539,-0.095561,0.036189,-0.093007,-0.045283,...,0.028818,-0.051852,0.036082,0.000005,-0.104569,0.080455,-0.027192,-0.031707,0.078696,-0.486815
2019-10,-0.049618,0.050672,0.080231,0.058474,-0.118469,-0.021548,-0.059750,-0.055000,0.074951,0.038735,...,0.042017,0.036458,0.012061,0.005548,-0.002834,0.102159,-0.004920,-0.027786,0.052414,-0.079740
2019-11,0.107594,0.109055,-0.048247,0.000816,-0.009349,0.045620,-0.020739,0.033909,0.219370,0.094368,...,0.079805,0.028643,0.090006,0.020690,0.044181,-0.079079,0.040450,0.185639,0.192941,0.062901
2019-12,0.605128,0.115726,0.105532,0.108872,0.102412,0.104130,0.083991,0.073077,0.065919,0.191658,...,0.085496,0.160723,0.222884,0.086245,0.250203,0.060859,0.059179,0.157312,0.140669,0.168049